body {
  background-color: #ccc;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Arial, sans-serif;
  text-align: center;
}

.btn {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
  padding: 5px;
}

.chess-board {
  margin: 0 auto;
  position: relative;
}

.chess-board-main {
  margin-top: 10px;
  position: relative;
}

.chess-board-main.loading:after {
  background-color: rgba(255, 255, 255, 0.6);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row:nth-child(2n) .item:nth-child(2n) {
  background-color: #f0d9b5;
}

.row:nth-child(2n + 1) .item:nth-child(2n + 1) {
  background-color: #f0d9b5;
}

.item {
  background-color: #b58862;
  height: 100px;
  flex-grow: 1;
  cursor: pointer;
}

.item.active {
  background-image: url("https://images.vexels.com/media/users/3/143174/isolated/preview/34f1b2b61373f599d8f735e91ce37851-knight-chess-figure-black-by-vexels.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.item.moviment {
  background-color: tomato !important;
}

@media screen and (min-width: 1024px) {
  .chess-board {
    width: 800px;
  }
}
