.chess-board {
  margin: 0 auto;
  position: relative;
}

.chess-board-main {
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
}

.chess-board-main .row {
  display: flex;
  flex-wrap: wrap;
}

.chess-board-main .row:nth-child(2n) .square:nth-child(2n) {
  background-color: #f0d9b5;
}

.chess-board-main .row:nth-child(2n + 1) .square:nth-child(2n + 1) {
  background-color: #f0d9b5;
}

.chess-board-main .square {
  background-color: #b58862;
  height: 100px;
  flex-grow: 1;
  cursor: pointer;
}

.chess-board-main .square.active {
  background-image: url("/assets/images/knight.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.chess-board-main .square.moviment {
  background-color: #f44336 !important;
}

.chess-board-main .square:hover {
  background-color: #00bcd4 !important;
}

@media screen and (min-width: 800px) {
  .chess-board {
    width: 800px;
  }
}
