body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.btn {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
  padding: 5px;
}
